openapi: 3.0.0
info:
  description: Open brokerage accounts, enable commission-free trading, and manage
    the ongoing user experience with Alpaca Broker API
  title: Alpaca Broker API
  version: 1.0.0
servers:
- description: Sandbox endpoint
  url: https://broker-api.sandbox.alpaca.markets/v1
- description: Production endpoint
  url: https://broker-api.alpaca.markets/v1
paths:
  /accounts:
    get:
      parameters:
      - description: |
          The query supports partial match of account number,
          names, emails, etc.. Items can be space delimited.
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
          description: |
            The response is a list of Account model up to 1000 items
            per query order by created_at. To scroll the result,
            please use the created_after parameter.
      security:
      - BasicAuth: []
      summary: Retrieve all accounts
      tags:
      - Accounts
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreationObject'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: The post body is not well formed.
        "422":
          content:
            application/json:
              schema:
                type: string
          description: One of the input values is not a valid value.
      security:
      - BasicAuth: []
      summary: Create an account
      tags:
      - Accounts
  /accounts/{account_id}:
    delete:
      operationId: delete_account
      parameters:
      - description: Account identifier.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No content.
      security:
      - BasicAuth: []
      summary: Request to close an account
      tags:
      - Accounts
    get:
      description: The response is an Account model.
      operationId: get_account
      parameters:
      - description: Account identifier.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountExtended'
          description: OK
      security:
      - BasicAuth: []
      summary: Retrieve an account.
      tags:
      - Accounts
    patch:
      operationId: patch_account
      parameters:
      - description: Account identifier.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: The post body is not well formed.
        "422":
          content:
            application/json:
              schema:
                type: string
          description: One of the input values is not a valid value.
      security:
      - BasicAuth: []
      summary: Update an account
      tags:
      - Accounts
  /accounts/{account_id}/documents/upload:
    post:
      parameters:
      - description: Account identifier.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentUpload'
        required: true
      responses:
        "204":
          description: Success (No Content)
        "400":
          content:
            application/json:
              schema:
                type: string
          description: Bad Request. The body in the request is not valid.
        "404":
          content:
            application/json:
              schema:
                type: string
          description: Not Found. No account was found for this account_id
      security:
      - BasicAuth: []
      summary: Upload a document to an already existing account
      tags:
      - Accounts
  /trading/accounts/{account_id}/account:
    get:
      description: The response is a Trading Account model.
      operationId: get_trading_account
      parameters:
      - description: Account identifier.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: OK
      security:
      - BasicAuth: []
      summary: Retrieve trading details for an account.
      tags:
      - Accounts
  /trading/accounts/{account_id}/orders:
    delete:
      description: Attempts to cancel all open orders. A response will be provided
        for each order that is attempted to be cancelled.
      operationId: delete_orders
      parameters:
      - description: Account identifier.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "207":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_207'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Malformed input.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource does not exist.
      security:
      - BasicAuth: []
      summary: Attempts to cancel all open orders. A response will be provided for
        each order that is attempted to be cancelled.
      tags:
      - Trading
    get:
      description: Retrieves a list of orders for the account, filtered by the supplied
        query parameters.
      operationId: get_orders
      parameters:
      - description: Account identifier.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Status of the orders to list.
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - open
          - closed
          - all
          type: string
        style: form
      - description: The maximum number of orders in response.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 500
          type: integer
        style: form
      - description: The response will include only ones submitted after this timestamp
          (exclusive.)
        explode: true
        in: query
        name: after
        required: false
        schema:
          example: 2021-03-16T18:38:01.942282Z
          format: date-time
          type: string
        style: form
      - description: The response will include only ones submitted until this timestamp
          (exclusive.)
        explode: true
        in: query
        name: until
        required: false
        schema:
          example: 2021-03-16T18:38:01.942282Z
          format: date-time
          type: string
        style: form
      - description: The chronological order of response based on the submission time.
          asc or desc. Defaults to desc.
        explode: true
        in: query
        name: direction
        required: false
        schema:
          enum:
          - asc
          - desc
          example: desc
          type: string
        style: form
      - description: If true, the result will roll up multi-leg orders under the legs
          field of primary order.
        explode: true
        in: query
        name: nested
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: A comma-separated list of symbols to filter by.
        explode: true
        in: query
        name: symbols
        required: false
        schema:
          example: AAPL,TSLA,MSFT
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrderObject'
                type: array
          description: Retrieves a list of orders for the account, filtered by the
            supplied query parameters.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Malformed input.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource does not exist.
      security:
      - BasicAuth: []
      summary: Retrieves a list of orders for the account, filtered by the supplied
        query parameters.
      tags:
      - Trading
    post:
      description: Create an order for an account.
      operationId: post_orders
      parameters:
      - description: Account identifier.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrder'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderObject'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Malformed input.
        "403":
          content:
            application/json:
              schema:
                type: string
          description: Request is forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource does not exist.
      security:
      - BasicAuth: []
      summary: Create an order for an account.
      tags:
      - Trading
  /trading/accounts/{account_id}/orders/{order_id}:
    delete:
      description: Attempts to cancel an open order.
      operationId: delete_order
      parameters:
      - description: Account identifier.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Order identifier.
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Malformed input.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource does not exist.
      security:
      - BasicAuth: []
      summary: Attempts to cancel an open order.
      tags:
      - Trading
    get:
      description: Retrieves a single order for the given order_id.
      operationId: get_order
      parameters:
      - description: Account identifier.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Order identifier.
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderObject'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Malformed input.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource does not exist.
      security:
      - BasicAuth: []
      summary: Retrieves a single order for the given order_id.
      tags:
      - Trading
    patch:
      description: Replaces a single order with updated parameters. Each parameter
        overrides the corresponding attribute of the existing order.
      operationId: patch_order
      parameters:
      - description: Account identifier.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Order identifier.
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchOrder'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderObject'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Malformed input.
        "403":
          content:
            application/json:
              schema:
                type: string
          description: Request is forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource does not exist.
      security:
      - BasicAuth: []
      summary: Replaces a single order with updated parameters. Each parameter overrides
        the corresponding attribute of the existing order.
      tags:
      - Trading
  /assets:
    get:
      description: Returns all assets
      operationId: get_assets
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AssetResource'
                type: array
          description: OK
      security:
      - BasicAuth: []
      summary: Retrieve all assets
      tags:
      - Assets
  /assets/{asset_id}:
    get:
      description: Returns the requested asset, if found
      parameters:
      - description: The UUID of the required asset
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResource'
          description: Returns asset
        "404":
          description: Asset not found
      security:
      - BasicAuth: []
      summary: Retrieve an asset by UUID
      tags:
      - Assets
  /assets/{symbol}:
    get:
      description: Returns the requested asset, if found
      parameters:
      - description: The symbol of the required asset
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResource'
          description: Returns asset
        "404":
          description: Asset not found
      security:
      - BasicAuth: []
      summary: Retrieve an asset by symbol
      tags:
      - Assets
  /calendar:
    get:
      parameters:
      - description: The first date to retrieve data for. (Inclusive)
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: The last date to retrieve data for. (Inclusive)
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MarketDay'
                type: array
          description: Returns the calendar object
      security:
      - BasicAuth: []
      summary: Query market calendar
      tags:
      - Calendar
  /clock:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: The current market's timestamp
      security:
      - BasicAuth: []
      summary: Query market clock
      tags:
      - Clock
  /accounts/{account_id}/documents:
    get:
      description: "You can query account documents such as monthly \nstatements and\
        \ trade confirms under an account.\n"
      parameters:
      - description: Account identifier.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: optional date value to filter the list (inclusive).
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: optional date value to filter the list (inclusive).
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_2'
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                type: string
          description: Not found
      security:
      - BasicAuth: []
      summary: Return a list of account documents.
      tags:
      - Documents
  /accounts/{account_id}/documents/{document_id}/download:
    get:
      description: |
        The operation returns a pre-signed downloadable link as
        a redirect with HTTP status code 301 if one is found.
      parameters:
      - description: Account identifier.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "301":
          description: |
            Redirect to the pre-signed download link for the
            document PDF file.
        "404":
          description: The document is not found.
      security:
      - BasicAuth: []
      summary: Download a document file that belongs to an account.
      tags:
      - Documents
  /documents/{document_id}:
    get:
      description: |
        The operation returns a pre-signed downloadable link as
        a redirect with HTTP status code 301 if one is found.
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "301":
          description: |
            Redirect to the pre-signed download link for the
            document PDF file.
        "404":
          description: The document is not found.
      security:
      - BasicAuth: []
      summary: Download a document file directly
      tags:
      - Documents
  /events/accounts/status:
    get:
      description: |
        Query Params Rules:
        - `since` required if `until` specified
        - `since_id` required if `until_id` specified
        - `since` and `since_id` can’t be used at the same time
        Behavior:
        - if `since` or `since_id` not specified this will not return any historic data
        - if `until` or `until_id` reached stream will end (status 200)
      parameters:
      - explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: until
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: since_id
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: until_id
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Connected.
      security:
      - BasicAuth: []
      summary: Subscribe to account status events (SSE).
      tags:
      - Accounts
      - Events
  /events/journals/status:
    get:
      description: |
        Query Params Rules:
        - `since` required if `until` specified
        - `since_id` required if `until_id` specified
        - `since` and `since_id` can’t be used at the same time
        Behavior:
        - if `since` or `since_id` not specified this will not return any historic data
        - if `until` or `until_id` reached stream will end (status 200)
      parameters:
      - explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: until
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: since_id
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: until_id
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: Connected
      security:
      - BasicAuth: []
      summary: Subscribe to journal events (SSE).
      tags:
      - Journals
      - Events
  /accounts/{account_id}/recipient_banks:
    get:
      operationId: get_recipient_banks
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: bank_name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BankResource'
                type: array
          description: Success. Returns the bank relationship model.
        "400":
          description: Bad request. The body in the request is not valid.
      security:
      - BasicAuth: []
      summary: Retrieve bank relationships for an account
      tags:
      - Funding
      - Accounts
    post:
      operationId: post_recipient_banks
      parameters:
      - description: Account identifier.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankData'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankResource'
          description: Success
        "400":
          description: Bad Request
        "409":
          description: Conflict
      security:
      - BasicAuth: []
      summary: Create a Bank Relationship for an account
      tags:
      - Funding
      - Accounts
  /accounts/{account_id}/recipient_banks/{bank_id}:
    delete:
      operationId: delete_recipient_bank
      parameters:
      - description: Account identifier.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: bank_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success (No Content)
        "400":
          description: Bad Request
        "404":
          description: Bank Not Found
      security:
      - BasicAuth: []
      summary: Delete a Bank Relationship for an account
      tags:
      - Accounts
      - Funding
  /accounts/{account_id}/transfers:
    get:
      description: |
        You can filter requested transfers by values such as
        direction and status.
      operationId: get_transfers
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: direction
        required: false
        schema:
          enum:
          - INCOMING
          - OUTGOING
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: number
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TransferResource'
                type: array
          description: Success.
      security:
      - BasicAuth: []
      summary: Return a list of transfers for an account.
      tags:
      - Funding
      - Accounts
    post:
      description: |
        This operation allows you to fund an account
        with virtual money in the sandbox environment.
      operationId: post_transfers
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferData'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferResource'
          description: Successfully requested a transfer.
      security:
      - BasicAuth: []
      summary: Request a new transfer
      tags:
      - Funding
      - Accounts
  /journals:
    get:
      operationId: get_journals
      parameters:
      - description: by settle_date
        explode: true
        in: query
        name: after
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: by settle_date
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - pending
          - canceled
          - executed
          type: string
        style: form
      - explode: true
        in: query
        name: entry_type
        required: false
        schema:
          enum:
          - JNLC
          - JNLS
          type: string
        style: form
      - explode: true
        in: query
        name: to_account
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: from_account
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                id: f45g67h8-d1fc-4136-aa4f-cf4460aecdfc
                entry_type: JNLC
                from_account: 8fjkjn-4483-4199-840f-6c5fe0b7ca24
                to_account: 3gtt65jd-6f2a-433c-8c33-17b66b8941fa
                status: pending
                net_amount: "115.5"
              schema:
                discriminator:
                  mapping:
                    JNLC: '#/components/schemas/JournalJNLC'
                    JNLS: '#/components/schemas/JournalJNLS'
                  propertyName: entry_type
                items:
                  $ref: '#/components/schemas/JournalResource'
                type: array
          description: OK
      security:
      - BasicAuth: []
      summary: Return a list of requested journals.
      tags:
      - Journals
    post:
      description: |
        A journal can be JNLC (move cash) or JNLS (move shares),
        dictated by `entry_type`.
        Generally, journal requests are subject to approval
        and starts from the `pending` status. The status
        changes are propagated through the Event API.
        Under certain conditions agreed for the partner, such journal
        transactions that meet the criteria are executed right away.
      operationId: post_journals
      requestBody:
        content:
          application/json:
            example:
              entry_type: JNLC
              from_account: 8fjkjn-4483-4199-840f-6c5fe0b7ca24
              to_account: 3gtt65jd-6f2a-433c-8c33-17b66b8941fa
              amount: "115.5"
            schema:
              $ref: '#/components/schemas/JournalData'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalResource'
          description: A journal is requested.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: One of the parameters is invalid.
        "403":
          content:
            application/json:
              schema:
                type: string
          description: The amount requested to move is not available.
        "404":
          content:
            application/json:
              schema:
                type: string
          description: One of the account is not found.
      security:
      - BasicAuth: []
      summary: Request a journal.
      tags:
      - Journals
  /journals/{journal_id}:
    delete:
      description: |
        You can cancel journals while they are in the pending
        status. An attempt to cancel already-executed journals
        will return an error.
      operationId: delete_journal
      parameters:
      - explode: false
        in: path
        name: journal_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: |
            The cancel request succeeded.
        "404":
          description: |
            The journal is not found.
        "422":
          description: |
            The journal is not in the pending status.
      security:
      - BasicAuth: []
      summary: Cancel a pending journal.
      tags:
      - Journals
  /oauth/clients/{client_id}:
    get:
      description: |
        The endpoint returns the details of OAuth client to
        display in the authorization page.
      parameters:
      - explode: false
        in: path
        name: client_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: response_type
        required: false
        schema:
          enum:
          - code
          - token
          example: token
          type: string
        style: form
      - explode: true
        in: query
        name: redirect_uri
        required: false
        schema:
          example: https://example.com/authorize
          type: string
        style: form
      - explode: true
        in: query
        name: scope
        required: false
        schema:
          example: general
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Success.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: |
            Client does not exist or you do not have access to the client.
      security:
      - BasicAuth: []
      summary: Returns an OAuth client.
      tags:
      - OAuth
  /oauth/token:
    post:
      description: |
        This operation issues an access token for an account.
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              example:
                client_id: 7a3c52a910e1dc2abbb14da2b6b8e711
                client_secret: bbb14da2b6b8e7117a3c52a910e1dc2a
                redirect_uri: http://localhost
                scope: general
                account_id: 0d18ae51-3c94-4511-b209-101e1666416b
              properties:
                client_id:
                  description: OAuth client ID
                  type: string
                client_secret:
                  description: OAuth client secret
                  type: string
                redirect_uri:
                  description: redirect URI for the OAuth flow
                  type: string
                scope:
                  description: scopes requested by the OAuth flow
                  type: string
                account_id:
                  description: end-user account ID
                  format: uuid
                  type: string
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
          description: Success.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: |
            Client does not exists, you do not have access to the client, or “client_secret” is incorrect.
        "422":
          content:
            application/json:
              schema:
                type: string
          description: |
            Redirect URI or scope is invalid.
      security:
      - BasicAuth: []
      summary: Issue a token.
      tags:
      - OAuth
  /oauth/authorize:
    post:
      description: |
        The operation issues an OAuth code which can be used
        in the OAuth code flow.
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            schema:
              example:
                client_id: 7a3c52a910e1dc2abbb14da2b6b8e711
                client_secret: bbb14da2b6b8e7117a3c52a910e1dc2a
                redirect_uri: http://localhost
                scope: general
                account_id: 0d18ae51-3c94-4511-b209-101e1666416b
              properties:
                client_id:
                  description: OAuth client ID
                  type: string
                client_secret:
                  description: OAuth client secret
                  type: string
                redirect_uri:
                  description: redirect URI for the OAuth flow
                  type: string
                scope:
                  description: scopes requested by the OAuth flow
                  type: string
                account_id:
                  description: end-user account ID
                  format: uuid
                  type: string
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
          description: Successfully issued a code.
        "401":
          content:
            application/json:
              schema:
                type: string
          description: |
            Client does not exists, you do not have access to the client, or “client_secret” is incorrect.
        "422":
          content:
            application/json:
              schema:
                type: string
          description: |
            Redirect URI or scope is invalid.
      security:
      - BasicAuth: []
      summary: Issue a code.
      tags:
      - OAuth
  /accounts/activities:
    get:
      parameters:
      - explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: until
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ActivityItem'
                type: array
          description: Success
      security:
      - BasicAuth: []
      summary: Retrieve account activities
      tags:
      - Accounts
  /accounts/activities/{activity_type}:
    get:
      parameters:
      - explode: false
        in: path
        name: activity_type
        required: true
        schema:
          enum:
          - FILL
          - ACATC
          - ACATS
          - CSD
          - CSR
          - CSW
          - DIV
          - DIVCGL
          - DIVCGS
          - DIVNRA
          - DIVROC
          - DIVTXEX
          - INT
          - JNLC
          - JNLS
          - MA
          - NC
          - PTC
          - REORG
          - SSO
          - SSP
          type: string
        style: simple
      - explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: until
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: direction
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      - explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ActivityItem'
                type: array
          description: Success
      security:
      - BasicAuth: []
      summary: Retrieve specific account activities
      tags:
      - Accounts
  /accounts/{account_id}/ach_relationships:
    get:
      operationId: get_ach_relationships
      parameters:
      - description: Account identifier.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Comma-separated status values
        explode: true
        in: query
        name: statuses
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ACHRelationshipResource'
                type: array
          description: Success
      security:
      - BasicAuth: []
      summary: Retrieve ACH Relationships for an account
      tags:
      - Accounts
      - Funding
    post:
      operationId: post_ach_relationships
      parameters:
      - description: Account identifier.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACHRelationshipData'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACHRelationshipResource'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Malformed input.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Client is not authorized for this operation.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The account already has an active relationship.
      security:
      - BasicAuth: []
      summary: Create an ACH Relationship
      tags:
      - Accounts
      - Funding
  /accounts/{account_id}/ach_relationships/{ach_relationship_id}:
    delete:
      operationId: delete_ach_relationship
      parameters:
      - description: Account identifier.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: ACH relationship identifier
        explode: false
        in: path
        name: ach_relationship_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Success (No Content)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource does not exist.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Cancelation is already in progress.
      security:
      - BasicAuth: []
      summary: Delete an existing ACH relationship
      tags:
      - Accounts
      - Funding
  /accounts/{account_id}/transfers/{transfer_id}:
    delete:
      operationId: delete_transfer
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: transfer_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success (No Content)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource does not exist.
      security:
      - BasicAuth: []
      summary: Request to close a transfer
      tags:
      - Accounts
      - Funding
  /journals/batch:
    post:
      operationId: post_journals_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchJournalRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BatchJournalResponse'
                type: array
      security:
      - BasicAuth: []
      summary: Create a batch journal
      tags:
      - Journals
  /trading/accounts/{account_id}/positions:
    get:
      operationId: get_positions
      parameters:
      - description: Account identifier.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Position'
                type: array
          description: Success
      security:
      - BasicAuth: []
      summary: List open positions for an account
      tags:
      - Trading
components:
  parameters:
    ActivityType:
      explode: false
      in: path
      name: activity_type
      required: true
      schema:
        enum:
        - FILL
        - ACATC
        - ACATS
        - CSD
        - CSR
        - CSW
        - DIV
        - DIVCGL
        - DIVCGS
        - DIVNRA
        - DIVROC
        - DIVTXEX
        - INT
        - JNLC
        - JNLS
        - MA
        - NC
        - PTC
        - REORG
        - SSO
        - SSP
        type: string
      style: simple
    Status:
      description: Status of the orders to list.
      explode: true
      in: query
      name: status
      required: false
      schema:
        enum:
        - open
        - closed
        - all
        type: string
      style: form
    Limit:
      description: The maximum number of orders in response.
      explode: true
      in: query
      name: limit
      required: false
      schema:
        example: 500
        type: integer
      style: form
    After:
      description: The response will include only ones submitted after this timestamp
        (exclusive.)
      explode: true
      in: query
      name: after
      required: false
      schema:
        example: 2021-03-16T18:38:01.942282Z
        format: date-time
        type: string
      style: form
    Until:
      description: The response will include only ones submitted until this timestamp
        (exclusive.)
      explode: true
      in: query
      name: until
      required: false
      schema:
        example: 2021-03-16T18:38:01.942282Z
        format: date-time
        type: string
      style: form
    Direction:
      description: The chronological order of response based on the submission time.
        asc or desc. Defaults to desc.
      explode: true
      in: query
      name: direction
      required: false
      schema:
        enum:
        - asc
        - desc
        example: desc
        type: string
      style: form
    Nested:
      description: If true, the result will roll up multi-leg orders under the legs
        field of primary order.
      explode: true
      in: query
      name: nested
      required: false
      schema:
        example: false
        type: boolean
      style: form
    Symbols:
      description: A comma-separated list of symbols to filter by.
      explode: true
      in: query
      name: symbols
      required: false
      schema:
        example: AAPL,TSLA,MSFT
        type: string
      style: form
    AccountID:
      description: Account identifier.
      explode: false
      in: path
      name: account_id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    OrderID:
      description: Order identifier.
      explode: false
      in: path
      name: order_id
      required: true
      schema:
        type: string
      style: simple
    DocumentID:
      description: Document identifier.
      explode: false
      in: path
      name: document_id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
  requestBodies:
    inline_object_1:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_1'
      required: true
    inline_object:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
      required: true
  responses:
    Forbidden:
      content:
        application/json:
          schema:
            type: string
      description: Request is forbidden
    BadRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Malformed input.
    NotAuthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Client is not authorized for this operation.
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Resource does not exist.
  schemas:
    Account:
      example:
        id: 0d18ae51-3c94-4511-b209-101e1666416b
        account_number: "9034005019"
        status: APPROVED
        currency: USD
        created_at: 2019-09-30T23:55:31.185998Z
        last_equity: "1500.65"
      properties:
        id:
          format: uuid
          type: string
        account_number:
          type: string
        status:
          $ref: '#/components/schemas/AccountStatus'
        currency:
          description: Always "USD"
          type: string
        created_at:
          format: date-time
          type: string
        last_equity:
          format: decimal
          type: string
        kyc_results:
          $ref: '#/components/schemas/KycResult'
      type: object
    AccountStatus:
      description: |
        - **SUBMITTED**
        The application has been submitted and in process.
        - **ACTION_REQUIRED**
        The application requires manual action.
        - **APPROVAL_PENDING**
        Initial value. The application approval process is in process.
        - **APPROVED**
        The account application has been approved, and waiting to be ACTIVE
        - **REJECTED**
        The account application is rejected for some reason
        - **ACTIVE**
        The account is fully active. Trading and funding are processed under this status.
        - **DISABLED**
        The account is disabled after ACTIVE status.
        - **ACCOUNT_CLOSED**
        The account is closed.
      enum:
      - SUBMITTED
      - ACTION_REQUIRED
      - APPROVAL_PENDING
      - APPROVED
      - REJECTED
      - ACTIVE
      - DISABLED
      - ACCOUNT_CLOSED
      example: ACTIVE
      type: string
    ActivityType:
      enum:
      - FILL
      - ACATC
      - ACATS
      - CSD
      - CSR
      - CSW
      - DIV
      - DIVCGL
      - DIVCGS
      - DIVNRA
      - DIVROC
      - DIVTXEX
      - INT
      - JNLC
      - JNLS
      - MA
      - NC
      - PTC
      - REORG
      - SSO
      - SSP
      title: ActivityType
      type: string
    Activity:
      description: Base for activity types
      properties:
        id:
          format: uuid
          type: string
        account_id:
          example: c8f1ef5d-edc0-4f23-9ee4-378f19cb92a4
          format: uuid
          type: string
        activity_type:
          $ref: '#/components/schemas/ActivityType'
      title: Activity
      type: object
    TradeActivity:
      allOf:
      - $ref: '#/components/schemas/Activity'
      - $ref: '#/components/schemas/TradeActivity_allOf'
      title: TradeActivity
    NonTradeActivity:
      allOf:
      - $ref: '#/components/schemas/Activity'
      - $ref: '#/components/schemas/NonTradeActivity_allOf'
      title: NonTradeActivity
    ActivityItem:
      anyOf:
      - $ref: '#/components/schemas/TradeActivity'
      - $ref: '#/components/schemas/NonTradeActivity'
      title: ActivityItem
    DocumentType:
      description: |
        - identity_verification:
          identity verification document
        - address_verification:
          address verification document
        - date_of_birth_verification:
          date of birth verification document
        - tax_id_verification:
          tax ID verification document
        - account_approval_letter:
          407 approval letter
        - cip_result:
          initial CIP result
      enum:
      - identity_verification
      - address_verification
      - date_of_birth_verification
      - tax_id_verification
      - account_approval_letter
      - cip_result
      example: identity_verification
      type: string
    StreetAddress:
      example: 20 N San Mateo Dr
      type: string
    Contact:
      description: |
        Contact is the model for the account owner contact information.
      example:
        street_address:
        - 20 N San Mateo Dr
        - 20 N San Mateo Dr
        email_address: john.doe@example.com
        city: San Mateo
        phone_number: +15556667788
        state: CA
        postal_code: "94401"
      properties:
        email_address:
          example: john.doe@example.com
          format: email
          type: string
        phone_number:
          description: with country code, no hyphen or space
          example: +15556667788
          type: string
        street_address:
          items:
            $ref: '#/components/schemas/StreetAddress'
          type: array
        city:
          example: San Mateo
          type: string
        state:
          example: CA
          type: string
        postal_code:
          example: "94401"
          type: string
      type: object
    Identity:
      description: |
        Identity is the model to provide account owner’s identity information.
      example:
        given_name: John
        family_name: Doe
        date_of_birth: 1990-01-01
        tax_id: 666-55-4321
        tax_id_type: USA_SSN
        country_of_citizenship: AUS
        country_of_birth: AUS
        country_of_tax_residence: USA
        funding_source:
        - employment_income
      properties:
        given_name:
          example: John
          type: string
        family_name:
          example: Doe
          type: string
        date_of_birth:
          example: 1990-01-01
          format: date
          type: string
        tax_id:
          example: 666-55-4321
          type: string
        tax_id_type:
          enum:
          - USA_SSN
          - AUS_TFN
          - AUS_ABN
          - DEU_TAX_ID
          - FRA_SPI
          - GBR_UTR
          - GBR_NINO
          - HUN_TIN
          - IND_PAN
          - ISR_TAX_ID
          - ITA_TAX_ID
          - JPN_TAX_ID
          - NLD_TIN
          - SGP_NRIC
          - SGP_FIN
          - SGP_ASGD
          - SGP_ITR
          - SWE_TAX_ID
          - NOT_SPECIFIED
          type: string
        country_of_citizenship:
          description: |
            [ISO 3166-1 alpha-3](https://www.iso.org/iso-3166-country-codes.html).
          example: USA
          type: string
        country_of_birth:
          description: |
            [ISO 3166-1 alpha-3](https://www.iso.org/iso-3166-country-codes.html).
          example: USA
          type: string
        country_of_tax_residence:
          description: |
            [ISO 3166-1 alpha-3](https://www.iso.org/iso-3166-country-codes.html).
          example: USA
          type: string
        funding_source:
          items:
            enum:
            - employment_income
            - investments
            - inheritance
            - business_income
            - savings
            - family
            type: string
          type: array
        annual_income_min:
          type: number
        annual_income_max:
          type: number
        liquid_net_worth_min:
          type: number
        liquid_net_worth_max:
          type: number
        total_net_worth_min:
          type: number
        total_net_worth_max:
          type: number
        extra:
          description: |
            any extra information used for KYC purposes
          type: object
      required:
      - country_of_tax_residence
      - date_of_birth
      - family_name
      - funding_source
      - given_name
      type: object
    Disclosures:
      description: "Disclosures fields denote if the account owner falls under\neach\
        \ category defined by FINRA rule. The client has to ask\nquestions for the\
        \ end user and the values should reflect\ntheir answers. \nIf one of the answers\
        \ is true (yes), the account goes into\nACTION_REQUIRED status.\n"
      example:
        is_control_person: false
        is_affiliated_exchange_or_finra: false
        is_politically_exposed: false
        immediate_family_exposed: false
      properties:
        employment_status:
          enum:
          - unemployed
          - employed
          - student
          - retired
          type: string
        employer_name:
          type: string
        employer_address:
          type: string
        employment_position:
          type: string
        is_control_person:
          type: boolean
        is_affiliated_exchange_or_finra:
          type: boolean
        is_politically_exposed:
          type: boolean
        immediate_family_exposed:
          type: boolean
      required:
      - immediate_family_exposed
      - is_affiliated_exchange_or_finra
      - is_control_person
      - is_politically_exposed
      type: object
    KycResult:
      description: Hold information about the result of KYC.
      example:
        addidional_information: addidional_information
        reject: '{}'
        indeterminate: '{}'
        accept: '{}'
      properties:
        reject:
          type: object
        accept:
          type: object
        indeterminate:
          type: object
        addidional_information:
          type: string
      type: object
    Agreement:
      example:
        agreement: margin_agreement
        signed_at: 2019-09-11T18:09:33Z
        ip_address: 185.13.21.99
      properties:
        agreement:
          description: |
            - margin_agreement: Alpaca Margin Agreement
            - account_agreement: Alpaca Account Agreement
            - customer_agreement: Alpaca Customer Agreement
          enum:
          - margin_agreement
          - account_agreement
          - customer_agreement
          type: string
        signed_at:
          example: 2019-09-11T18:09:33Z
          type: string
        ip_address:
          example: 185.13.21.99
          format: ipv4
          type: string
      required:
      - agreement
      - ip_address
      - signed_at
      type: object
    Agreements:
      description: |
        The client has to present Alpaca Account Agreement and
        Margin Agreement to the end user, and have them read
        full sentences.
      items:
        $ref: '#/components/schemas/Agreement'
      type: array
    ApplicationDocument:
      description: |
        If an account has documents on the application submission,
        it has the ApplicationDocument model in exchange with
        DocumentUpload.
      example:
        id: 0d18ae51-3c94-4511-b209-101e1666416b
        document_type: identity_verification
        document_sub_type: passport
        mime_type: image/jpeg
        created_at: 2019-09-30T23:55:31.185998Z
      properties:
        id:
          format: uuid
          type: string
        document_type:
          $ref: '#/components/schemas/DocumentType'
        document_sub_type:
          type: string
        mime_type:
          type: string
        created_at:
          format: date-time
          type: string
      required:
      - created_at
      - document_type
      - id
      type: object
    DocumentUpload:
      description: |
        If an account has documents after the submission, it has
        the Document model in exchange with DocumentUpload.
      example:
        document_type: identity_verification
        document_sub_type: passport
        content: QWxwYWNhcyBjYW5ub3QgbGl2ZSBhbG9uZS4=
        mime_type: image/jpeg
      properties:
        document_type:
          $ref: '#/components/schemas/DocumentType'
        document_sub_type:
          example: passport
          type: string
        content:
          example: QWxwYWNhcyBjYW5ub3QgbGl2ZSBhbG9uZS4=
          format: base64
          type: string
        mime_type:
          example: image/jpeg
          type: string
      required:
      - content
      - document_type
      - mime_type
      type: object
    TrustedContact:
      description: |
        This model input is optional. However, the client should
        make reasonable effort to obtain the trusted contact information.
        See more details in [FINRA Notice 17-11](https://www.finra.org/sites/default/files/Regulatory-Notice-17-11.pdf)
      example:
        given_name: Jane
        family_name: Doe
        email_address: jane.doe@example.com
      properties:
        given_name:
          example: Jane
          type: string
        family_name:
          example: Doe
          type: string
        email_address:
          description: |
            at least one of `email_address`, `phone_number` or
            `street_address` is required
          example: jane.doe@example.com
          format: email
          type: string
        phone_number:
          description: |
            at least one of `email_address`, `phone_number` or
            `street_address` is required
          type: string
        street_address:
          description: |
            at least one of `email_address`, `phone_number` or
            `street_address` is required
          items:
            type: string
          type: array
        city:
          description: |
            required if `street_address` is set
          type: string
        state:
          description: |
            required if `street_address` is set
          type: string
        postal_code:
          description: |
            required if `street_address` is set
          type: string
        country:
          description: |
            [ISO 3166-1 alpha-3](https://www.iso.org/iso-3166-country-codes.html).
            required if `street_address` is set
          type: string
      required:
      - family_name
      - given_name
      type: object
    AccountExtended:
      example:
        last_equity: last_equity
        account_number: account_number
        trusted_contact:
          given_name: Jane
          family_name: Doe
          email_address: jane.doe@example.com
        documents:
        - id: 0d18ae51-3c94-4511-b209-101e1666416b
          document_type: identity_verification
          document_sub_type: passport
          mime_type: image/jpeg
          created_at: 2019-09-30T23:55:31.185998Z
        - id: 0d18ae51-3c94-4511-b209-101e1666416b
          document_type: identity_verification
          document_sub_type: passport
          mime_type: image/jpeg
          created_at: 2019-09-30T23:55:31.185998Z
        created_at: 2000-01-23T04:56:07.000+00:00
        agreements:
        - agreement: margin_agreement
          signed_at: 2019-09-11T18:09:33Z
          ip_address: 185.13.21.99
        - agreement: margin_agreement
          signed_at: 2019-09-11T18:09:33Z
          ip_address: 185.13.21.99
        kyc_results:
          addidional_information: addidional_information
          reject: '{}'
          indeterminate: '{}'
          accept: '{}'
        identity:
          given_name: John
          family_name: Doe
          date_of_birth: 1990-01-01
          tax_id: 666-55-4321
          tax_id_type: USA_SSN
          country_of_citizenship: AUS
          country_of_birth: AUS
          country_of_tax_residence: USA
          funding_source:
          - employment_income
        contact:
          street_address:
          - 20 N San Mateo Dr
          - 20 N San Mateo Dr
          email_address: john.doe@example.com
          city: San Mateo
          phone_number: +15556667788
          state: CA
          postal_code: "94401"
        currency: currency
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        disclosures:
          is_control_person: false
          is_affiliated_exchange_or_finra: false
          is_politically_exposed: false
          immediate_family_exposed: false
        status: ACTIVE
      properties:
        id:
          format: uuid
          type: string
        account_number:
          type: string
        status:
          $ref: '#/components/schemas/AccountStatus'
        currency:
          description: Always "USD"
          type: string
        created_at:
          format: date-time
          type: string
        last_equity:
          format: decimal
          type: string
        kyc_results:
          $ref: '#/components/schemas/KycResult'
        contact:
          $ref: '#/components/schemas/Contact'
        identity:
          $ref: '#/components/schemas/Identity'
        disclosures:
          $ref: '#/components/schemas/Disclosures'
        agreements:
          description: |
            The client has to present Alpaca Account Agreement and
            Margin Agreement to the end user, and have them read
            full sentences.
          items:
            $ref: '#/components/schemas/Agreement'
          type: array
        documents:
          items:
            $ref: '#/components/schemas/ApplicationDocument'
          type: array
        trusted_contact:
          $ref: '#/components/schemas/TrustedContact'
      type: object
    AccountUpdate:
      example:
        identity:
          given_name: John
          family_name: Doe
          date_of_birth: 1990-01-01
          tax_id: 666-55-4321
          tax_id_type: USA_SSN
          country_of_citizenship: AUS
          country_of_birth: AUS
          country_of_tax_residence: USA
          funding_source:
          - employment_income
        contact:
          street_address:
          - 20 N San Mateo Dr
          - 20 N San Mateo Dr
          email_address: john.doe@example.com
          city: San Mateo
          phone_number: +15556667788
          state: CA
          postal_code: "94401"
        trustedContact:
          given_name: Jane
          family_name: Doe
          email_address: jane.doe@example.com
        disclosures:
          is_control_person: false
          is_affiliated_exchange_or_finra: false
          is_politically_exposed: false
          immediate_family_exposed: false
      properties:
        contact:
          $ref: '#/components/schemas/Contact'
        identity:
          $ref: '#/components/schemas/Identity'
        disclosures:
          $ref: '#/components/schemas/Disclosures'
        trustedContact:
          $ref: '#/components/schemas/TrustedContact'
      type: object
    JournalJNLC:
      example:
        id: f45g67h8-d1fc-4136-aa4f-cf4460aecdfc
        entry_type: JNLC
        from_account: 8fjkjn-4483-4199-840f-6c5fe0b7ca24
        to_account: 3gtt65jd-6f2a-433c-8c33-17b66b8941fa
        status: pending
        net_amount: "115.5"
      properties:
        id:
          description: journal ID
          format: uuid
          type: string
        entry_type:
          description: JNLC (constant)
          type: string
        from_account:
          description: account ID the amount goes from
          format: uuid
          type: string
        to_account:
          format: uuid
          type: string
        description:
          description: ID the amount goes to
          type: string
        settle_date:
          format: date
          nullable: true
          type: string
        status:
          enum:
          - pending
          - canceled
          - executed
          - queued
          - rejected
          - deleted
          type: string
        net_amount:
          format: decimal
          type: string
        transmitter_name:
          description: max 255 characters
          type: string
        transmitter_account_number:
          description: max 255 characters
          type: string
        transmitter_address:
          description: max 255 characters
          type: string
        transmitter_financial_institution:
          description: max 255 characters
          type: string
        transmitter_timestamp:
          format: date-time
          type: string
      required:
      - entry_type
      - from_account
      - id
      - net_amount
      - settle_date
      - to_account
      type: object
    JournalJNLS:
      example:
        id: h7h5g33f-ef01-4458-9a4b-9598727a406f
        entry_type: JNLS
        from_account: 8fjkjn-4483-4199-840f-6c5fe0b7ca24
        to_account: 3gtt65jd-6f2a-433c-8c33-17b66b8941fa
        status: executed
        symbol: AAPL
        qty: "2"
        price: "128.23"
      properties:
        id:
          description: journal ID
          format: uuid
          type: string
        entry_type:
          description: JNLS (constant)
          type: string
        from_account:
          description: account ID the shares go from
          format: uuid
          type: string
        to_account:
          description: account ID the shares go to
          format: uuid
          type: string
        settle_date:
          format: date
          nullable: true
          type: string
        status:
          enum:
          - pending
          - canceled
          - executed
          - queued
          - rejected
          - deleted
          type: string
        symbol:
          type: string
        qty:
          format: decimal
          type: string
        price:
          format: decimal
          type: string
      required:
      - entry_type
      - from_account
      - id
      - price
      - qty
      - settle_date
      - symbol
      - to_account
      type: object
    AccountCreationObject:
      example:
        trusted_contact:
          given_name: Jane
          family_name: Doe
          email_address: jane.doe@example.com
        documents:
        - document_type: identity_verification
          document_sub_type: passport
          content: QWxwYWNhcyBjYW5ub3QgbGl2ZSBhbG9uZS4=
          mime_type: image/jpeg
        - document_type: identity_verification
          document_sub_type: passport
          content: QWxwYWNhcyBjYW5ub3QgbGl2ZSBhbG9uZS4=
          mime_type: image/jpeg
        identity:
          given_name: John
          family_name: Doe
          date_of_birth: 1990-01-01
          tax_id: 666-55-4321
          tax_id_type: USA_SSN
          country_of_citizenship: AUS
          country_of_birth: AUS
          country_of_tax_residence: USA
          funding_source:
          - employment_income
        contact:
          street_address:
          - 20 N San Mateo Dr
          - 20 N San Mateo Dr
          email_address: john.doe@example.com
          city: San Mateo
          phone_number: +15556667788
          state: CA
          postal_code: "94401"
        agreements:
        - agreement: margin_agreement
          signed_at: 2019-09-11T18:09:33Z
          ip_address: 185.13.21.99
        - agreement: margin_agreement
          signed_at: 2019-09-11T18:09:33Z
          ip_address: 185.13.21.99
        disclosures:
          is_control_person: false
          is_affiliated_exchange_or_finra: false
          is_politically_exposed: false
          immediate_family_exposed: false
      properties:
        contact:
          $ref: '#/components/schemas/Contact'
        identity:
          $ref: '#/components/schemas/Identity'
        disclosures:
          $ref: '#/components/schemas/Disclosures'
        agreements:
          description: |
            The client has to present Alpaca Account Agreement and
            Margin Agreement to the end user, and have them read
            full sentences.
          items:
            $ref: '#/components/schemas/Agreement'
          type: array
        documents:
          items:
            $ref: '#/components/schemas/DocumentUpload'
          type: array
        trusted_contact:
          $ref: '#/components/schemas/TrustedContact'
      type: object
    CreateOrder:
      example:
        symbol: AAPL
        notional: "3"
        side: buy
        client_order_id: eb9e2aaa-f71a-4f51-b5b4-52a6c565dad4
        stop_loss:
          stop_price: "3.14"
          limit_price: "3.14"
        trail_price: "3.14"
        type: limit
        limit_price: "3.14"
        time_in_force: gtc
        take_profit:
          limit_price: "3.14"
        stop_price: "3.14"
        trail_percent: "5"
        extended_hours: false
        qty: "4.124"
        commission: "1"
        order_class: simple
      properties:
        symbol:
          example: AAPL
          type: string
        qty:
          example: "4.124"
          format: decimal
          type: string
        notional:
          example: "3"
          format: decimal
          type: string
        side:
          enum:
          - buy
          - sell
          example: buy
          type: string
        type:
          enum:
          - market
          - limit
          - stop
          - stop_limit
          - trailing_stop
          example: limit
          type: string
        time_in_force:
          enum:
          - day
          - gtc
          - opg
          - cls
          - ioc
          - fok
          example: gtc
          type: string
        limit_price:
          example: "3.14"
          format: decimal
          type: string
        stop_price:
          example: "3.14"
          format: decimal
          type: string
        trail_price:
          example: "3.14"
          format: decimal
          type: string
        trail_percent:
          example: "5"
          format: decimal
          type: string
        extended_hours:
          example: false
          type: boolean
        client_order_id:
          example: eb9e2aaa-f71a-4f51-b5b4-52a6c565dad4
          type: string
        order_class:
          enum:
          - simple
          - bracket
          - oco
          - oto
          example: simple
          type: string
        take_profit:
          $ref: '#/components/schemas/CreateOrder_take_profit'
        stop_loss:
          $ref: '#/components/schemas/CreateOrder_stop_loss'
        commission:
          example: "1"
          format: decimal
          type: string
      required:
      - side
      - symbol
      - time_in_force
      - type
      type: object
    OrderObject:
      example:
        symbol: AALP
        notional: "4.2"
        submitted_at: 2021-03-16T18:38:01.942282Z
        canceled_at: 2021-03-16T18:38:01.942282Z
        filled_avg_price: "4.2"
        created_at: 2021-03-16T18:38:01.942282Z
        replaced_at: 2021-03-16T18:38:01.942282Z
        expired_at: 2021-03-16T18:38:01.942282Z
        asset_id: 61e69015-8549-4bfd-b9c3-01e75843f47d
        type: stop
        updated_at: 2021-03-16T18:38:01.942282Z
        stop_price: "3.14"
        legs:
        - null
        - null
        commission: "3.14"
        id: 61e69015-8549-4bfd-b9c3-01e75843f47d
        order_type: stop
        client_order_id: 61e69015-8549-4bfd-b9c3-01e75843f47d
        side: buy
        filled_qty: "4.2"
        replaces: 61e69015-8549-4bfd-b9c3-01e75843f47d
        asset_class: us_equity
        trail_price: "3.14"
        replaced_by: 61e69015-8549-4bfd-b9c3-01e75843f47d
        limit_price: "3.14"
        time_in_force: gtc
        trail_percent: "5"
        extended_hours: true
        qty: "4.2"
        filled_at: 2021-03-16T18:38:01.942282Z
        failed_at: 2021-03-16T18:38:01.942282Z
        order_class: bracket
        status: filled
        hwm: "3.14"
      properties:
        id:
          example: 61e69015-8549-4bfd-b9c3-01e75843f47d
          format: uuid
          type: string
        client_order_id:
          example: 61e69015-8549-4bfd-b9c3-01e75843f47d
          type: string
        created_at:
          example: 2021-03-16T18:38:01.942282Z
          format: date-time
          type: string
        updated_at:
          example: 2021-03-16T18:38:01.942282Z
          format: date-time
          type: string
        submitted_at:
          example: 2021-03-16T18:38:01.942282Z
          format: date-time
          type: string
        filled_at:
          example: 2021-03-16T18:38:01.942282Z
          format: date-time
          nullable: true
          type: string
        expired_at:
          example: 2021-03-16T18:38:01.942282Z
          format: date-time
          nullable: true
          type: string
        canceled_at:
          example: 2021-03-16T18:38:01.942282Z
          format: date-time
          nullable: true
          type: string
        failed_at:
          example: 2021-03-16T18:38:01.942282Z
          format: date-time
          nullable: true
          type: string
        replaced_at:
          example: 2021-03-16T18:38:01.942282Z
          format: date-time
          nullable: true
          type: string
        replaced_by:
          example: 61e69015-8549-4bfd-b9c3-01e75843f47d
          format: uuid
          nullable: true
          type: string
        replaces:
          example: 61e69015-8549-4bfd-b9c3-01e75843f47d
          format: uuid
          nullable: true
          type: string
        asset_id:
          example: 61e69015-8549-4bfd-b9c3-01e75843f47d
          format: uuid
          type: string
        symbol:
          example: AALP
          type: string
        asset_class:
          enum:
          - us_equity
          - crypto
          type: string
        notional:
          example: "4.2"
          format: decimal
          nullable: true
          type: string
        qty:
          example: "4.2"
          format: decimal
          nullable: true
          type: string
        filled_qty:
          example: "4.2"
          format: decimal
          type: string
        filled_avg_price:
          example: "4.2"
          format: decimal
          nullable: true
          type: string
        order_class:
          enum:
          - simple
          - bracket
          - oco
          - oto
          example: bracket
          type: string
        order_type:
          enum:
          - market
          - limit
          - stop
          - stop_limit
          - trailing_stop
          example: stop
          type: string
        type:
          enum:
          - market
          - limit
          - stop
          - stop_limit
          - trailing_stop
          example: stop
          type: string
        side:
          enum:
          - buy
          - sell
          example: buy
          type: string
        time_in_force:
          enum:
          - day
          - gtc
          - opg
          - cls
          - ioc
          - fok
          example: gtc
          type: string
        limit_price:
          example: "3.14"
          format: decimal
          nullable: true
          type: string
        stop_price:
          example: "3.14"
          format: decimal
          nullable: true
          type: string
        status:
          enum:
          - new
          - partially_filled
          - filled
          - done_for_day
          - canceled
          - expired
          - replaced
          - pending_cancel
          - pending_replace
          - accepted
          - pending_new
          - accepted_for_bidding
          - stopped
          - rejected
          - suspended
          - calculated
          example: filled
          type: string
        extended_hours:
          example: true
          type: boolean
        legs:
          items:
            $ref: '#/components/schemas/OrderObject'
          nullable: true
          type: array
        trail_price:
          example: "3.14"
          format: decimal
          nullable: true
          type: string
        trail_percent:
          example: "5"
          format: decimal
          nullable: true
          type: string
        hwm:
          example: "3.14"
          format: decimal
          nullable: true
          type: string
        commission:
          example: "3.14"
          format: decimal
          type: string
      type: object
    PatchOrder:
      example:
        trail: "3.14"
        time_in_force: gtc
        client_order_id: 61e69015-8549-4bfd-b9c3-01e75843f47d
        stop_price: "3.14"
        updated_at: 2000-01-23T04:56:07.000+00:00
        qty: "4.2"
        created_at: 2000-01-23T04:56:07.000+00:00
        limit_price: "3.14"
      properties:
        qty:
          example: "4.2"
          format: decimal
          type: string
        time_in_force:
          enum:
          - day
          - gtc
          - opg
          - cls
          - ioc
          - fok
          example: gtc
          type: string
        limit_price:
          example: "3.14"
          format: decimal
          type: string
        stop_price:
          example: "3.14"
          format: decimal
          type: string
        trail:
          example: "3.14"
          format: decimal
          type: string
        client_order_id:
          example: 61e69015-8549-4bfd-b9c3-01e75843f47d
          type: string
        created_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
      required:
      - created_at
      - id
      - updated_at
      type: object
    BankResource:
      allOf:
      - $ref: '#/components/schemas/IdentifiedResource'
      - $ref: '#/components/schemas/BankData'
      - $ref: '#/components/schemas/BankResource_allOf'
    BankData:
      example:
        bank_code: bank_code
        country: country
        street_address: street_address
        account_number: account_number
        bank_code_type: ABA
        city: city
        name: name
        state_province: state_province
        postal_code: postal_code
      properties:
        name:
          type: string
        bank_code:
          type: string
        bank_code_type:
          enum:
          - ABA
          - BIC
          type: string
        country:
          type: string
        state_province:
          type: string
        postal_code:
          type: string
        city:
          type: string
        street_address:
          type: string
        account_number:
          type: string
      required:
      - account_number
      - bank_code
      - bank_code_type
      - name
      title: BankData
      type: object
    IdentifiedResource:
      properties:
        id:
          example: 61e69015-8549-4bfd-b9c3-01e75843f47d
          format: uuid
          type: string
        created_at:
          example: 2021-03-16T18:38:01.942282Z
          format: date-time
          type: string
        updated_at:
          example: 2021-03-16T18:38:01.942282Z
          format: date-time
          type: string
      required:
      - created_at
      - id
      - updated_at
      title: IdentifiedResource
      type: object
    ACHRelationshipData:
      example:
        bank_account_number: bank_account_number
        account_owner_name: account_owner_name
        nickname: nickname
        bank_routing_number: bank_routing_number
        bank_account_type: CHECKING
      properties:
        account_owner_name:
          minLength: 1
          type: string
        bank_account_type:
          enum:
          - CHECKING
          - SAVINGS
          minLength: 1
          type: string
        bank_account_number:
          minLength: 1
          type: string
        bank_routing_number:
          minLength: 1
          type: string
        nickname:
          minLength: 1
          type: string
      required:
      - account_owner_name
      - bank_account_number
      - bank_account_type
      - bank_routing_number
      title: ACHRelationshipData
      type: object
    ACHRelationshipResource:
      allOf:
      - $ref: '#/components/schemas/IdentifiedResource'
      - $ref: '#/components/schemas/ACHRelationshipData'
      - $ref: '#/components/schemas/ACHRelationshipResource_allOf'
      title: ACHRelationshipResource
    Error:
      properties:
        code:
          type: number
        message:
          type: string
      required:
      - code
      - message
      title: Error
      type: object
    UntypedACHTransferData:
      allOf:
      - $ref: '#/components/schemas/UntypedTransferData'
      - $ref: '#/components/schemas/UntypedACHTransferData_allOf'
      title: UntypedACHTransferData
    TransferResource:
      allOf:
      - $ref: '#/components/schemas/IdentifiedResource'
      - $ref: '#/components/schemas/TransferResource_allOf'
      - discriminator:
          mapping:
            ach: '#/components/schemas/UntypedACHTransferData'
            wire: '#/components/schemas/UntypedWireTransferData'
          propertyName: type
        oneOf:
        - $ref: '#/components/schemas/UntypedACHTransferData'
        - $ref: '#/components/schemas/UntypedWireTransferData'
      title: TransferResource
    TransferData:
      allOf:
      - $ref: '#/components/schemas/TransferData_allOf'
      - discriminator:
          mapping:
            ach: '#/components/schemas/UntypedACHTransferData'
            wire: '#/components/schemas/UntypedWireTransferData'
          propertyName: transfer_type
        oneOf:
        - $ref: '#/components/schemas/UntypedACHTransferData'
        - $ref: '#/components/schemas/UntypedWireTransferData'
      title: TransferData
    UntypedWireTransferData:
      allOf:
      - $ref: '#/components/schemas/UntypedTransferData'
      - $ref: '#/components/schemas/UntypedWireTransferData_allOf'
      title: UntypedWireTransferData
    UntypedTransferData:
      properties:
        amount:
          format: decimal
          type: string
        direction:
          enum:
          - INCOMING
          - OUTGOING
          type: string
      required:
      - amount
      - direction
      title: UntypedTransferData
      type: object
    JournalData:
      example:
        symbol: symbol
        amount: amount
        from_account: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        qty: qty
        entry_type: JNLC
        to_account: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        entry_type:
          enum:
          - JNLC
          - JNLS
          type: string
        from_account:
          format: uuid
          type: string
        to_account:
          format: uuid
          type: string
        amount:
          description: |
            Required for JNLC.
            The dollar amount to move. It has to be
            a positive value.
          format: decimal
          type: string
        symbol:
          description: |
            Required for JNLS.
          type: string
        qty:
          description: |
            Required for JNLS.
            The number of shares to move. It has to be
            a positive value.
          format: decimal
          type: string
      required:
      - entry_type
      - from_account
      - to_account
      title: JournalData
      type: object
    JournalResource:
      discriminator:
        mapping:
          JNLC: '#/components/schemas/JournalJNLC'
          JNLS: '#/components/schemas/JournalJNLS'
        propertyName: entry_type
      oneOf:
      - $ref: '#/components/schemas/JournalJNLC'
      - $ref: '#/components/schemas/JournalJNLS'
      title: JournalResource
    BatchJournalRequest:
      example:
        entries:
        - amount: amount
          to_account: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - amount: amount
          to_account: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        from_account: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        description: description
        entry_type: JNLC
      properties:
        entry_type:
          enum:
          - JNLC
          type: string
        from_account:
          format: uuid
          type: string
        description:
          type: string
        entries:
          items:
            $ref: '#/components/schemas/BatchJournalRequest_entries'
          type: array
      required:
      - entry_type
      - from_account
      title: BatchJournalRequest
      type: object
    BatchJournalResponse:
      example:
        error_message: error_message
        symbol: symbol
        from_account: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        settle_date: settle_date
        system_date: system_date
        description: description
        price: price
        qty: qty
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        net_amount: net_amount
        entry_type: JNLC
        to_account: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status: pending
      properties:
        id:
          format: uuid
          type: string
        error_message:
          type: string
        entry_type:
          enum:
          - JNLC
          type: string
        from_account:
          format: uuid
          type: string
        to_account:
          format: uuid
          type: string
        symbol:
          type: string
        qty:
          nullable: true
          type: string
        price:
          type: string
        status:
          enum:
          - pending
          - canceled
          - executed
          - queued
          - rejected
          - deleted
          type: string
        settle_date:
          nullable: true
          type: string
        system_date:
          nullable: true
          type: string
        net_amount:
          type: string
        description:
          type: string
      required:
      - description
      - entry_type
      - error_message
      - from_account
      - id
      - net_amount
      - price
      - qty
      - settle_date
      - status
      - symbol
      - system_date
      - to_account
      title: BatchJournalResponse
      type: object
    AssetResource:
      example:
        symbol: AAPL
        shortable: true
        easy_to_borrow: true
        name: Apple Inc. Common Stock
        tradable: true
        exchange: NASDAQ
        fractionable: true
        id: 904837e3-3b76-47ec-b432-046db621571b
        marginable: true
        class: us_equity
        status: active
      properties:
        id:
          example: 904837e3-3b76-47ec-b432-046db621571b
          type: string
        class:
          enum:
          - us_equity
          - crypto
          type: string
        exchange:
          example: NASDAQ
          type: string
        symbol:
          example: AAPL
          type: string
        name:
          example: Apple Inc. Common Stock
          type: string
        status:
          enum:
          - active
          - inactive
          type: string
        tradable:
          example: true
          type: boolean
        marginable:
          example: true
          type: boolean
        shortable:
          example: true
          type: boolean
        easy_to_borrow:
          example: true
          type: boolean
        fractionable:
          example: true
          type: boolean
      title: AssetResource
      type: object
    Position:
      example:
        symbol: symbol
        side: side
        market_value: market_value
        unrealized_intraday_pl: unrealized_intraday_pl
        unrealized_pl: unrealized_pl
        lastday_price: lastday_price
        asset_class: us_equity
        change_today: change_today
        asset_id: asset_id
        avg_entry_price: avg_entry_price
        cost_basis: cost_basis
        unrealized_intraday_plpc: unrealized_intraday_plpc
        qty: qty
        unrealized_plpc: unrealized_plpc
        exchange: exchange
        current_price: current_price
      properties:
        asset_id:
          type: string
        symbol:
          type: string
        exchange:
          type: string
        asset_class:
          enum:
          - us_equity
          - crypto
          type: string
        avg_entry_price:
          type: string
        qty:
          type: string
        side:
          type: string
        market_value:
          type: string
        cost_basis:
          type: string
        unrealized_pl:
          type: string
        unrealized_plpc:
          type: string
        unrealized_intraday_pl:
          type: string
        unrealized_intraday_plpc:
          type: string
        current_price:
          type: string
        lastday_price:
          type: string
        change_today:
          type: string
      type: object
    MarketDay:
      example:
        date: 2021-04-06
        session_close: "1900"
        session_open: "0700"
        close: 16:00
        open: 09:30
      properties:
        date:
          example: 2021-04-06
          type: string
        open:
          example: 09:30
          type: string
        close:
          example: 16:00
          type: string
        session_open:
          example: "0700"
          type: string
        session_close:
          example: "1900"
          type: string
      required:
      - close
      - date
      - open
      title: MarketDay
      type: object
    inline_response_200:
      example:
        last_equity: "12345.6789"
        account_number: "927584925"
        cash_withdrawable: "12345.6789"
        initial_margin: "12345.6789"
        pattern_day_trader: false
        last_cash: "12345.6789"
        maintenance_margin: "12345.6789"
        sma: "12345.6789"
        shorting_enabled: false
        created_at: 2021-03-01T13:28:49.270232Z
        long_market_value: "12345.6789"
        daytrade_count: 0
        daytrading_buying_power: "12345.6789"
        equity: "12345.6789"
        buying_power: "12345.6789"
        last_short_market_value: "0"
        cash_transferable: "12345.6789"
        last_initial_margin: "12345.6789"
        last_regt_buying_power: "12345.6789"
        last_maintenance_margin: "12345.6789"
        currency: USD
        id: c8f1ef5d-edc0-4f23-9ee4-378f19cb92a4
        cash: "12345.6789"
        last_buying_power: "12345.6789"
        transfers_blocked: false
        account_blocked: false
        trade_suspended_by_user: false
        regt_buying_power: "12345.6789"
        multiplier: "2"
        trading_blocked: false
        last_long_market_value: "12345.6789"
        clearing_broker: Velox
        pending_transfer_out: "12345.6789"
        last_daytrade_count: 0
        portfolio_value: "12345.6789"
        previous_close: 2021-04-01T19:00:00-04:00
        short_market_value: "0"
        last_daytrading_buying_power: "12345.6789"
        status: ACTIVE
      properties:
        id:
          example: c8f1ef5d-edc0-4f23-9ee4-378f19cb92a4
          type: string
        account_number:
          example: "927584925"
          type: string
        status:
          $ref: '#/components/schemas/AccountStatus'
        currency:
          example: USD
          type: string
        buying_power:
          example: "12345.6789"
          type: string
        regt_buying_power:
          example: "12345.6789"
          type: string
        daytrading_buying_power:
          example: "12345.6789"
          type: string
        cash:
          example: "12345.6789"
          type: string
        cash_withdrawable:
          example: "12345.6789"
          type: string
        cash_transferable:
          example: "12345.6789"
          type: string
        pending_transfer_out:
          example: "12345.6789"
          type: string
        portfolio_value:
          example: "12345.6789"
          type: string
        pattern_day_trader:
          example: false
          type: boolean
        trading_blocked:
          example: false
          type: boolean
        transfers_blocked:
          example: false
          type: boolean
        account_blocked:
          example: false
          type: boolean
        created_at:
          example: 2021-03-01T13:28:49.270232Z
          type: string
        trade_suspended_by_user:
          example: false
          type: boolean
[...]
